@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #c59560;
  background-color: #3338a0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #f7f7f7;
  background-color: #fcc61d;
}

p {
  font-size: 1.5rem;
}
